<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
    <h1><a href="/blog/monologue">Monologue</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <%- options = {
      "New Post" => new_admin_post_url,
      "Posts" => admin_posts_url,
      "Comments" => admin_comments_url
    } %>
    <ul class="left">
      <%- options.each do |label, option| %>
        <li class="<%= 'active' if request.original_url == option %>"><%= link_to label, option %></li>
      <%- end %>
    </ul>
  </section>
</nav>
